Depreciated/DemocraticRepublicGUI.py
2_Cybernetic_Republic/ExperimentThreadingTkinter2.0.py
Depreciated/hacking_together.py
Depreciated/Message_Comparison_Toolset.py
twitter_credentials.json
twitter_credentials.py
.DS_Store
Depreciated/Python_Start.py
Depreciated/Listen_to_python.scd
.idea/
venv/
Misc/
Depreciated/
Log_Files/
Marketing Materials/
Corpora/
Profile_Files/
